body {
    font-family: 'Amatic SC';
    font-size: x-large;
    background-color: gold;
}

h1 {
    color: black;
    padding: 0px;
    padding-bottom: 0px;
    margin-bottom: 1px;
    vertical-align: bottom;
    height: 50px;
}

h2 {
    color: black;
    text-align: center;
    font-size: larger;
    padding: 2px;
    scroll-padding-top: 0px;
    margin-top: 0px;
}
#board {
    padding-top: 3em;
    text-align: center;
}

div.row > div {
    height: 100px;
    width: 100px;
    float: left;
    clear: right;
    
}

.row {

    margin: 0 auto;
    width: 302px;
    font-size: xx-large;
}
.top {
    border-bottom: 1px solid black;
}
.bottom {
    border-top: 1px solid black;
}

.left {
    border-right: 1px solid black;
}

.right {
    border-left: 1px solid black;
}
.top, .middle, .center, .bottom:hover {
    cursor: pointer;
}


img {
    display: inline-block;
    margin-top: 300px;
    margin-left: 50px;
    width: 100px;
    height: 100px;
}